<div>
  <h1><% t(:edit_credit).capitalize%></h1>
  <div>
  <p>Status: <%= @credit.already_accepted ? t(:accepted) : t(:pending) %></p>
  <p><%= @credit.already_accepted ? t(:error_accepted) : t(:notice_accepted) %></p>
  </div>
  <%= render 'form' %>
</div>